#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("./img/background.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.game-board {
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 5rem;
  background-color: black;
  border: 5px white solid;
  border-left-color: rgb(226, 226, 226);
  border-top-color: rgb(226, 226, 226);
  box-shadow: 2px 2px 5px black;
  overflow: hidden;
}

.snake-dot {
  position: absolute;
  z-index: 999;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.food {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#snake-head {
  background-color: red;
}

.control {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  background: url("./img/text-background.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text; 
  font-family:Catamaran,sans-serif;
  font-size:3rem;
  padding: 0;
  margin: 0.5rem 0;
  text-align:center;
  text-shadow: 5px 5px 10px black;
  -webkit-text-stroke: 0.5px #ffaa00;
  
}

.control p {
  padding-right: 1rem;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  color: white;
}

#difficulty {
  margin-right: 5rem;
}

.control button {
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  background-color: red;
}

.control button:disabled {
  color: rgb(194, 194, 194);
  background-color: rgb(71, 71, 71);
}

.finish-game {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  background: white;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  box-shadow: 2px 2px gray;
}

.finish-game p {
  margin: 0.2rem 0;
  padding: 0;
}

.finish-game button {
  margin-top: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: black;
}

.finish-game span {
  color: red;
}